/ {
    keymap {
        compatible = "zmk,keymap";
        base_layer {
            bindings = <
                &kp A &kp B &kp C &kp D &kp E &kp F &kp G
                &kp H &kp I &kp J &kp K &kp L &kp M &kp N
                &kp O &kp P &kp Q &kp R &kp S &kp T &kp U
                &kp V &kp W &kp X &kp Y &kp Z &kp 1 &kp 2
                &kp 3 &kp 4 &kp 5 &kp 6 &kp 7 &kp 8 &kp 9
                &kp 0 &kp ENTER &kp ESC &kp BSPC &kp TAB &kp SPACE &kp MINUS
                &kp EQUAL &kp LBKT &kp RBKT &kp BSLH &kp SEMI &kp SQT &kp GRAVE
                &kp COMMA &kp DOT &kp SLASH &kp CAPS &kp LCTRL &kp LSHFT &kp LALT
                &kp LGUI &kp RALT &kp RCTRL &kp RSHFT
            >;
        };
    };
};
